In [20]:
## EXERCICIO 1
nome = "Gustavo"
idade = "20"
altura = "1,75"
# Mostre na tela a concatenação das informações: "Meu nome é [nome], tenho [idade] anos e minha altura é [altura] metros."
print("Meu nome é {a}, tenho {b} anos e minha altura é {c} metros.".format(a = nome, b = idade, c = altura))

Meu nome é Gustavo, tenho 20 anos e minha altura é 1,75 metros.

In [21]:
## EXERCICIO 2
# Crie uma variável chamada frase e atribua a seguinte frase a ela: "Python é uma linguagem de programação muito poderosa."
frase = "Python é uma linguagem de programação muito poderosa."
# Utilize o método .upper() para transformar toda a frase em maiúsculas e imprima o resultado.
print(frase.upper())

PYTHON É UMA LINGUAGEM DE PROGRAMAÇÃO MUITO PODEROSA.

In [22]:
# Utilize o método .lower() para transformar toda a frase em minúsculas e imprima o resultado.
print(frase.lower())

python é uma linguagem de programação muito poderosa.

In [23]:
# Utilize o método .replace() para substituir a palavra "muito" por "extremamente". Imprima o resultado.
print(frase.replace("muito","extremamente"))

Python é uma linguagem de programação extremamente poderosa.

In [24]:
# Utilize o método .split() para dividir a frase em palavras e imprima o resultado como uma lista.
frase.split()

['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'muito', 'poderosa.']

In [25]:
## EXERCICIO 3
# Crie uma lista chamada frutas contendo os seguintes itens: "maçã", "banana", "laranja", "uva", "abacaxi".
frutas = ["maçã","banana","laranja","uva","abacaxi"]
# Imprima a lista frutas.
print(frutas)

['maçã', 'banana', 'laranja', 'uva', 'abacaxi']

In [26]:
# Adicione o item "manga" à lista frutas utilizando o método .append() e imprima a lista novamente.
frutas.append("manga")
print(frutas)

['maçã', 'banana', 'laranja', 'uva', 'abacaxi', 'manga']

In [27]:
# Remova o item "laranja" da lista frutas utilizando o método .remove() e imprima a lista.
frutas.remove("laranja")
print(frutas)

['maçã', 'banana', 'uva', 'abacaxi', 'manga']

In [31]:
# Acesse o terceiro item da lista frutas (lembrando que as listas começam em 0) e imprima-o.
print(frutas[2])

uva

In [32]:
# Ordene a lista frutas em ordem alfabética utilizando o método .sort() e imprima a lista.
frutas.sort()
print(frutas)

['abacaxi', 'banana', 'manga', 'maçã', 'uva']

In [33]:
# Crie uma lista chamada numeros com os valores [10, 5, 8, 3, 6]. Utilize a função sum() para calcular a soma de todos os elementos dessa lista e imprima o resultado.
numeros = [10,5,8,3,6]
sum(numeros)

32

In [59]:
## EXERCICIO 4
# Crie um dicionário chamado pessoa com as seguintes chaves e valores: "nome": "Carlos" "idade": 30 "cidade": "São Paulo"
pessoa = {
    "nome2" : "Carlos",
    "ïdade" : 30,
    "cidade" : "Sao Paulo"
}
# Imprima o dicionário pessoa
print(pessoa)

{'nome2': 'Carlos', 'ïdade': 30, 'cidade': 'Sao Paulo'}

In [60]:
# Acesse e imprima o valor associado à chave "nome".
print(pessoa["nome2"])

Carlos

In [65]:
# Altere a idade de "Carlos" para 31 e imprima o dicionário novamente.
pessoa.update ({"ïdade" : 31})
print(pessoa)

{'nome2': 'Carlos', 'ïdade': 31, 'cidade': 'Sao Paulo'}

In [69]:
# Adicione uma nova chave "profissão" ao dicionário com o valor "engenheiro". Imprima o dicionário atualizado.
pessoa["profissao"] = "engenheiro"
print(pessoa)

{'nome2': 'Carlos', 'ïdade': 31, 'cidade': 'Sao Paulo', 'profissao': 'engenheiro'}

In [80]:
# Remova a chave "cidade" do dicionário e imprima o dicionário após a remoção
del pessoa["cidade"]
print(pessoa)

{'nome2': 'Carlos', 'ïdade': 31, 'profissao': 'engenheiro'}

In [81]:
# Utilize o método .keys() para imprimir todas as chaves do dicionário
pessoa.keys()

dict_keys(['nome2', 'ïdade', 'profissao'])

In [82]:
# Utilize o método .values() para imprimir todos os valores do dicionário.
pessoa.values()

dict_values(['Carlos', 31, 'engenheiro'])

In [97]:
## EXERCICIO 5
# Crie uma tupla chamada cores contendo as seguintes cores: "vermelho", "azul", "verde", "amarelo", "roxo".
# Imprima a tupla cores.
cores_tupla = ("vermelho","azul","verde", "amarelo", "roxo")
print(cores_tupla)

('vermelho', 'azul', 'verde', 'amarelo', 'roxo')

In [84]:
# Acesse e imprima o segundo item da tupla cores.
print(cores_tupla[1])

azul

In [87]:
# Verifique se a cor "azul" está presente na tupla cores e imprima True ou False dependendo da resposta.
if "azul" in cores_tupla : print("true")
else : print("false")

true

In [88]:
# Crie uma tupla chamada numeros contendo os números (1, 2, 3, 4, 5).
numero_tupla = (1, 2, 3, 4, 5)
print(numero_tupla)

(1, 2, 3, 4, 5)

In [89]:
# Some todos os elementos da tupla numeros e imprima o resultado.
sum(numero_tupla)

15

In [92]:
# Tente alterar o valor do terceiro item da tupla cores para "laranja". O que acontece? Explique por que não é possível alterar um valor em uma tupla.
# numero_tupla[2] = "laranja"
# o problema ocorre porque uma tupla nao podem ser modificadas

In [96]:
# Crie uma nova tupla chamada nova_cores que seja a concatenação da tupla cores com uma nova tupla ("preto", "branco") e imprima o resultado.
nova_cores_tupla = (cores_tupla, "preto", "branco")
print(nova_cores_tupla)

(('vermelho', 'azul', 'verde', 'amarelo', 'roxo'), 'preto', 'branco')

In [36]:
## EXERCICIO 6
# Crie um programa que receba a altura e o peso de uma pessoa e imprima seu IMC.
print("*Utilize ponto ao inves de virgula para responder o questionario*")
print("Digite sua altura (em metros):")
altura = input()
print("Digite seu peso (em quilogramas):")
peso = input()
IMC = float(peso)/(float(altura) ** 2)
print("O seu IMC é:",round(IMC,2))

*Utilize ponto ao inves de virgula para responder o questionario*
Digite sua altura (em metros):
1.70
Digite seu peso (em quilogramas):
75
O seu IMC é: 25.95

In [1]:
## EXERCICIO 7
#Escreva um programa que pergunte o nome completo do usuário e o cumprimente pelo primeiro nome.
print("Digite o seu nome completo:")
nome3 = input()
lista = nome3.split()
print("Olá,", lista[0])

Digite o seu nome completo:
Gustavo Profiro Coelho Brum
Olá, Gustavo

In [38]:
## EXERCICIO 8
#Escreva um código que extraia o domínio de um e-mail informado.
print("Digite o seu e-mail:")
email = input()
email_separado = email.split("@")
print("O domínio do seu e-mail é:",email_separado[1])

Digite o seu e-mail:
psceru@hotmail.com
O domínio do seu e-mail é: hotmail.com

In [17]:
## EXERCICIO 9
# Faça um programa que pergunte quanto você ganha por hora e o número de horas trabalhadas no mês. Calcule e mostre o total do seu salário no referido mês, sabendo-se que são
# descontados 11% para o imposto de renda, 8% para o INSS e 5% para o sindicato. O programa deve mostrar: salário bruto, quanto pagou ao INSS, quanto pagou ao sindicato, salário líquido.
print("Digite quanto você ganha por hora:")
horas_ganho = input()
print("Digite quantas horas você trabalhou:")
horas_trab = input()
salario_bruto = float(horas_ganho) * float(horas_trab)
print("Seu salário bruto foi:",salario_bruto)
desc_imp_renda = salario_bruto * 0.11
print("Seu desconto de imposto de renda foi:", desc_imp_renda)
desc_inss = salario_bruto * 0.08
print("Seu desconto de inss foi:", desc_inss)
desc_sind = salario_bruto * 0.05
print("Seu desconto de sindicato foi:", desc_sind)
salario_liquido = salario_bruto - (desc_imp_renda + desc_inss + desc_sind)
print("Seu salário líquido foi:",salario_liquido)

Digite quanto você ganha por hora:
10
Digite quantas horas você trabalhou:
10
Seu salário bruto foi: 100.0
Seu desconto de imposto de renda foi: 11.0
Seu desconto de inss foi: 8.0
Seu desconto de sindicato foi: 5.0
Seu salário líquido foi: 76.0